@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}
@tailwind base; 
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background-color: theme(colors.accent);
    border-radius: 1rem;
}
.positioned-ship {
    animation: opacity 3s infinite;
}
.width-290 {
    width: 290px !important;
    height: 290px !important;
}
@keyframes opacity {
    from {
        opacity: .3
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: .3
    }
}