@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}
@tailwind base; 
    @tailwind components;
    @tailwind utilities;

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background-color: theme(colors.accent);
    border-radius: 1rem;
}
